<app-navbaruser></app-navbaruser>

  <p>MY ACCOUNT INFORMATION</p>
  <mat-divider></mat-divider>
  <mat-card>First Name :</mat-card>       <mat-form-field appearance="fill"> <mat-label>First Name</mat-label> <input matInput> </mat-form-field>
  <mat-card>Last Name :</mat-card>        <mat-form-field appearance="fill"> <mat-label>Last Name</mat-label> <input matInput> </mat-form-field>
  <mat-card>Account Name :</mat-card>     <mat-form-field appearance="fill"> <mat-label>Account Name</mat-label> <input matInput> </mat-form-field>
  <mat-card>Email :</mat-card>            <mat-form-field appearance="fill"> <mat-label>Email</mat-label> <input matInput> </mat-form-field>
  <mat-card>Password :</mat-card>         <mat-form-field appearance="fill"> <mat-label>Password</mat-label> <input matInput> </mat-form-field>


<app-footer></app-footer>
