
<app-navbar></app-navbar>

<section>
    <br><br><br><br><br><br><br>
<mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title>Legal</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <p>
        The project will be procured in accordance with current Moroccan legal requirements. A ‘Legal’ section will be designed on the website to make sure that the rules and regulations that must be followed can be viewed by all the users.
        Using user localization to display studios nearby will only be available if the user allows the website to access his or her location.
      </p>
    </mat-card-content>

  </mat-card>
  </section>
