mat-card {
    max-width: 1650px;
    margin: 1em auto;
    text-align: center;
  
  }
  
  mat-card-content
  {
      width: 300px;
      height: 300px;
  }
  mat-form-field {
    display: block;
    padding-top: 12px;
  }
  mat-icon 
 {
    transform: scale(3); 
    padding-top: 4px;
    margin-bottom: 18%;
 }
 button{
     margin-top: 15px;
 }
