.example-card {


  
    opacity: 0.55;
    padding-bottom: 30px;
    max-width: 600px;

    margin-left: auto;
    margin-right: auto;

  }
  
  .mat-card-header {
      text-align: center;
      display: inline;

  }

  .mat-card-content
  {
      padding-top: 30px ;
      text-align: justify;
      margin-left: 20px;
      margin-right: 20px;
       
      color: black;
  }

  section
  {
    background-image: url('/assets/images/Back2.jpg');
    background-size: cover;
    height: 100%;
  }