section
{
    background-image: url("/assets/images/2_ilyas.jpg");
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    width: 100%;
    padding-top: 12%;
    margin-left:auto;
    margin-right: auto;
  
}

mat-form-field
{
    padding-left: 3%;
    width: 25%;
}

form  {
    margin-left: 33%;
}

button{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

mat-label
{
    color:white;
}